*{
  box-sizing: border-box;
  text-align: center;
}

/* App */
.app{
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 90%;
}

/* Header */
.header{
  padding: 1%;
  border: min(1px,1vw) solid #000;

  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 2%;
  align-items: flex-end;
}

#array_slider, #speed_slider{
  padding-bottom: 0;
}

#algo_selector{
  width: 20vw;
}

button{
  width: 100%;
  padding: 2% 5%;
  font-size: 90%;
  font-weight: 900;
  border-radius: 5px;
  color: #fff;
}

/* Main */
.main{
  height: 100%;
  display: flex;
}

.bar{
  align-self: flex-end;
  display: inline-block;
}

.bar-number{
  height: 100%;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

@media (max-width : 560px){
  .app{
    grid-template-rows: 10% 90%;
  }
  .main{
    height: 50vh;
  }
}

@media (max-height : 500px){
  .app{
    grid-template-rows: 20% 80%;
  }
}